@import url("./reset.css");
/* Add CSS styling here */
html {
  font-size: 62.5%;
}
/* Top Div starts here */
.top {
  background-color: darkslategray;
  padding: 4%;
  width: 100%;
}
.name h1 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: chelsea market;
  font-size: 4rem;
}
body nav {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link1 {
  border: solid green;
  margin-right: 10px;
  border-radius: 25%;
  padding: 5px;
  background-color: darksalmon;
}
.link1:hover {
  background-color: darkseagreen;
}
.link2 {
  border: solid green;
  margin-right: 10px;
  border-radius: 25%;
  padding: 5px;
  background-color: darksalmon;
}
.link2:hover {
  background-color: darkseagreen;
}
.link3 {
  border: solid green;
  border-radius: 25%;
  padding: 5px;
  background-color: darksalmon;
}
.link3:hover {
  background-color: darkseagreen;
}
body h2 {
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .para {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topPic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  margin-left: 3%;
}
.topPic img {
  max-width: 100%;
}
.bottomPics .bp1 {
  display: inline-block;
  margin-left: 203px;
}
.bottomHalf {
  display: flex;
  flex-direction: row;
}
.lastParagraph {
  margin-left: 5%;
  margin-top: 8%;
  font-size: 2rem;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid green;
  border-radius: 25%;
  padding: 5px;
  background-color: darksalmon;
}
.contact:hover {
  background-color: darkseagreen;
}
.contactButton {
  background-color: darkslategray;
  padding: 2%;
}
@media (max-width: 500px) {
  .top {
    width: 100%;
  }
  nav .link1 {
    padding: 3%;
  }
  nav .link2 {
    padding: 3%;
  }
  nav .link3 {
    padding: 3%;
  }
  .intro .topPic {
    max-width: 30%;
  }
  .bottomHalf {
    max-width: 50%;
    flex-direction: column;
  }
  .bottomHalf .bp1 {
    margin-left: 0;
  }
  .contactButton {
    width: 100%;
    margin-left: 2%;
  }
  .contactButton .contact {
    padding: 3%;
  }
}
@media (max-width: 800px) {
  .top {
    justify-content: center;
    align-items: center;
  }
  nav .link1 {
    padding: 2%;
  }
  nav .link2 {
    padding: 2%;
  }
  nav .link3 {
    padding: 2%;
  }
  .topPic {
    margin-left: 0;
  }
  .bottomHalf {
    flex-direction: column;
    max-width: 50%;
  }
  .bottomHalf .bp1 {
    margin-left: 0;
  }
  .contactButton .contact {
    padding: 2%;
  }
}
